*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: hsl(235, 21%, 11%);
}

.background-image{
  /* stick to the body */
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  min-width: 350px;
  z-index: -1;
}

.background-image img{
  width:100%;
  height: 50vh;
}

.main-container{
  width: 100%;
  max-width: 700px;
  margin: 0 30px;
  margin-top:100px;
  /* background-color: yellow; */
}


/* .header{
  display: flex;
  justify-content: space-between;
  align-items: center;

} */


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title{
  color: white;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
}

.new-todo{
  display: flex;
  background-color: hsl(235, 21%, 11%);
  height: 70px;
  margin-top: 50px;
  border-radius: 6px;
}

.check {
  /* background-color: yellow; */
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* input[type="checkbox"] + div~div{
  text-decoration: line-through;
} */

.check-mark{
  width: 30px;
  height: 30px;
  /* for perfect square */
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

/* .check-mark:checked~.todo-text{
  text-decoration: line-through;

} */

/* .check-mark:hover {
  background: linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
} */

.active-check{
  background: linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));

}

.new-todo-input{
  display: flex;
  align-items: center;
}



.new-todo-input input {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}


.todo-item{
  width: 100%;
  /* background-color: yellow; */
  background-color: transparent;

  display: flex;
  height: 70px;
  border-bottom: 1 px solid hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
  font-size: 18px;
}

.todo-text {
  display: flex;
  align-items: center;

}

.todo-items-container {
  margin-top: 30px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 6px;
  overflow: hidden;
}

/* .todo-items-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  width: 100%;
  color: hsl(233, 14%, 35%);
} */

.todo-items-info{
  height: 70px;
  width: 100%;
  color: hsl(233, 14%, 35%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;

}


.item-statuses{
  display: flex;
  justify-content: center;

}

.items-statuses span {
  padding: 0 5px;
}


/* all all active completed hover sath me */
.items-statuses  span:hover {
  color: hsl(280, 87%, 65%);
  cursor: pointer;
}

.items-clear {
  cursor: pointer;
  text-align: end;
}

.items-clear span:hover {
  cursor: pointer;
  color: hsl(280, 87%, 65%);

}

.active{
  color: hsl(280, 87%, 65%);
}

.complete{
  text-decoration: line-through;
}

.todo-item .close{
  cursor: pointer;
  background:transparent;
  border: none;
  outline: none;
  /* justify-content: center; */
  /* align-self: flex-start; */
}

.close{
  justify-content: center;
  align-items: center;
  margin-left: auto;
}